<a [routerLink]="['/']">
    <h1>My Store</h1>
</a>

<a [routerLink]="['/register-form']" class="button fancy-button">
    Register
</a>
<a *ngIf="allow()" [routerLink] = '["/users-list"]'class = 'button fancy-button user' style="margin-right: 20px">
    Users
</a>

<a [routerLink]="['/currency']" class="button fancy-button">
    Currencies
</a>

<a [routerLink]="['/exchange']" class="button fancy-button">
    Exchange
</a>

<a [routerLink]="['/dashboard']" class="button fancy-button">
    Dashboard
</a>

<a [routerLink]="['/admin']" class="button fancy-button">
    Admin
</a>

<a [routerLink]="['/guard']" class="button fancy-button">
    Guard
</a>

<a [routerLink]="['/login']" class="button fancy-button">
    Login
</a>

<a [routerLink]="['/wishlist']" class="button fancy-button">
    <i class="material-icons">list</i>
    Wishlist
</a>

<a [routerLink]="['/cart']" class="button fancy-button">
    <i class="material-icons">shopping_cart</i>
    Checkout
</a>

