<div style="height: 100%; width: 100%; justify-content: center; justify-items: center; color: aquamarine">
  <h1>Currency Converter</h1>
  <hr>

  <form [formGroup]="form" style="display: flex;
  flex-direction: column;
  margin: auto;
  justify-self: auto;
  height: 500px;
  width: 400px;;">
    <br>
    <p></p>
    <br>
    <select formControlName="currency1" (change)="onChangeCurrency(form.value.currency1)">
      <option value=""></option>
      <option *ngFor="let currency of currencies" [ngValue]="currency">{{currency}}</option>
    </select>
    <input type="text" formControlName="amount1" (keyup)="currencyInput(form.value.amount1)">
    <br>
    <br>
    <br>
    <select formControlName="currency2" (change)="onChangeBase(form.value.currency2)">
      <option value=""></option>
      <option *ngFor="let currency of currencies" [ngValue]="currency">{{currency}}</option>
    </select>
    <input type="text" formControlName="amount2" (keyup)="onChangeCurrency2Input(form.value.amount2)">
  </form>
</div>



